@import "./tools.less";

.login-wrap {
  .position(r);
  .w(100%);
  .h(100%);
  background: url("../assets/images/bg-1.png") no-repeat;
  background-size: cover;

  .ms-title {
    .position(a);
    top: 50%;
    .w(100%);
    .marginT(-300px);
    .align(c);
    .fontSize(72px);
    .color(#fff);
    letter-spacing: 5px;
  }

  .ms-login {
    .position(a);
    left: 50%;
    top: 55%;
    .w(600px);
    .h(400px);
    .marginL(-300px);
    .marginT(-200px);
    background-image: linear-gradient(143deg, #81F0FF 0%, #5FA7FF 100%);
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.40);
    border-radius: 10px;

    .ms-div {
      .position(r);
      .flex;
      .fontSize(20px);
      .color(#fff);
      .h(70px);
      .line(70px);
      background: rgba(255, 255, 255, 0.15);

      .ms-label {
        .w(30%);
        .align(c);
      }

      .ms-input {
        .w(70%);

        input {
          .color(#fff);
          caret-color: #fff;
          border: none;
          background: transparent;
        }
      }

      &.on {
        background: rgba(255, 255, 255, 0.25);
      }
    }

    .login-btn {
      .h(60px);
      .line(60px);
      .w(340px);
      .align(c);
      .marginAll(30px,auto,0,auto);
      background: rgba(255, 255, 255, 0.3);
      .fontSize(17px);
      .color(#fff);
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
    .remember{
      .marginT(40px);
      .h(22px);
      .line(22px);
      .fontSize(16px);
      div{
        background: url("../assets/images/登录页-保持登录-2.png") no-repeat center left;
        background-size: 20px;
        .paddingL(35px);
        margin: 0 auto;
        .w(100px);
        .align(c);
        .color(#fff);
        cursor: pointer;
        user-select: none;
      }
      &.on{
        div{
          background: url("../assets/images/登录页面-保持登录.png") no-repeat center left;
          background-size: 20px;
        }
      }
    }
    .hide-pwd {
      .position(a);
      .h(19px);
      .w(25px);
      top:26px;
      right: 50px;
      background: url("../assets/images/登录页-隐藏密码.png") no-repeat;
      background-size: 25px;
      cursor: pointer;
    }
  }

}
